@define-color bg0      #282828;
@define-color bg1      #3c3836;
@define-color bg2      #504945;
@define-color fg0      #fbf1c7;
@define-color fg1      #ebdbb2;
@define-color red      #cc241d;
@define-color blue     #458588;
@define-color aqua     #689d6a;
@define-color yellow   #d79921;
@define-color gray     #928374;

* {
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
}

.control-center {
  background: @bg0;
  color: @fg1;
  border: 2px solid @aqua;
  border-image: linear-gradient(45deg, @aqua, @yellow) 1;
}

/* Общий контейнер уведомления */
.notification {
  background: @bg1;
  border: 1px solid @bg2;
  margin: 5px;
  padding: 10px;
}

/* Название приложения (та самая надпись Hyprshot) */
.notification-content .top-line .app-name {
  font-size: 8pt !important;
  font-weight: normal !important;
  color: @gray !important;
  text-transform: lowercase;
}

/* Заголовок уведомления (Summary) */
.notification-content .top-line .summary {
  font-size: 11pt !important;
  font-weight: bold !important;
  color: @fg0 !important;
}

/* Текст уведомления (Body) */
.notification-content .body {
  font-size: 10pt !important;
  color: @fg1 !important;
  margin-top: 4px;
}

/* Время */
.notification-content .top-line .time {
  font-size: 8pt !important;
  color: @gray !important;
}

/* Кнопка закрытия */
.notification-content .close-button {
  background: @bg2;
  color: @red;
  border-radius: 0;
}

.widget-title { color: @aqua; margin: 10px; font-size: 12pt; }
.widget-dnd { background: @bg1; margin: 10px; padding: 10px; border-radius: 0; color: @yellow; }

.notification-row:selected .notification {
  background: @bg2;
}
